# Problem Set 2




# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
 >b()
 >b()
 >b()
 >a ?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0 

def b():
 global a 
 a = c(a)
    
def c(a): 
 return a + 2

In [2]:
b()
b()
b()
a

6

# Value displayed after executing (a) = 6
# We initialize a = 0 globally in first step.
# In function b() we call c(a) and stores the value in a.
# c() adds 2 in the value of a.
# As we call b() 3 times (a+2) will be executed three times. So the final value of a is 6.
# -----------------------------------------------------------------------------------------



# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [3]:
def file_length(file_name): 
    try:
        file = open(file_name,'r')
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError as file_error_customized:
        print('File {} not found'.format(file_name))

In [4]:
file_length('Midterm.py')

682

In [5]:
file_length('idterm.py')

File idterm.py not found

# -----------------------------------------------------------------------------------------

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [6]:
class Marsupial:                            
    itemList=[]
    
    def put_in_pouch(self,item):
        self.itemList.append(item)
    
    def pouch_contents(self):
        return self.itemList

In [7]:
mar = Marsupial()
mar.put_in_pouch("doll")
mar.put_in_pouch("firetruck")
mar.put_in_pouch("kitten")
mar.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
class Kangaroo(Marsupial):    
    def __init__(self,x1,y1):
        self.x = x1
        self.y = y1
        Marsupial.__init__(self)
    
    def jump(self,x1,y1):
        self.x = self.x + x1
        self.y = self.y + y1
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
    

    
kan = Kangaroo(0,0)
print (kan)

I am a Kangaroo located at coordinates (0, 0)

In [9]:
kan.put_in_pouch("doll")
kan.put_in_pouch("firetruck")
kan.put_in_pouch("kitten")
kan.pouch_contents()
kan.jump(1,0)
kan.jump(1,0)
kan.jump(1,0)
print(kan)

I am a Kangaroo located at coordinates (3, 0)

In [10]:
kan.jump(1,0)
kan.jump(1,0)
kan.jump(1,0)
print(kan)

I am a Kangaroo located at coordinates (6, 0)

# -----------------------------------------------------------------------------------------

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1

>>> collatz(10)
10
5
16
8
4
2
1

In [11]:
def collatz(x): 
  
    if(x == 1): 
        print(1)
        return 
    
    print(int(x))
    
    if(x%2 == 0): 
        x = x/2
        
    else:
        x = 3*x+1
        
    return(collatz(int(x)))

In [12]:
collatz(1)

1

In [13]:
collatz(10)

10
5
16
8
4
2
1

# -----------------------------------------------------------------------------------------

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)
0

 binary(1)
1

 binary(3)
11

 binary(9)
1001

In [14]:
def binary(val):
    if(val < 0):
        raise ValueError       
    elif val > 1:                   
        binary(val//2)            
    print (val % 2, end = '')

In [15]:
binary(0)

0

In [16]:
binary(1)

1

In [17]:
binary(3)

11

In [18]:
binary(9)

1001

# -----------------------------------------------------------------------------------------

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
 
 infile = open('w3c.html')
 
 content = infile.read()
 
 infile.close()
 
 hp = HeadingParser()
 
 hp.feed(content)

W3C Mission

Principles

In [19]:
from html.parser import HTMLParser            



class HeadingParser(HTMLParser):        
  
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.flag = 0 
        
    def handle_starttag(self, tag, attrs):                             
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1                                     
        else:
            self.flag = 0
            
    def handle_data(self, data):            
        if self.flag and data!='\n':
            print('{}{}'.format(self.flag * ' ', data))


file = open(r'w3c.html')     
strr = str(file.read())
parser = HeadingParser()                            
parser.feed(strr)

 W3C Mission


  Principles

# -----------------------------------------------------------------------------------------

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [20]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Appender(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []


    def append(self):
        
        return self.url_links




    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url, a[1])
            if ab[:4] == 'http': 
                self.url_links.append(ab)
i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    i= i + 4


    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)



webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# -----------------------------------------------------------------------------------------

# Question 8

Write SQL queries on the below database table that return:

In [43]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [44]:
%sql sqlite://

In [45]:
%sql CREATE TABLE Record(City varchar(50), Country varchar(50), Season varchar(50),Temperature float, Rainfall float);

 * sqlite://
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [46]:
%%sql
INSERT INTO record VALUES('Mumbai','India','Winter','24.8','5.9');  
INSERT INTO record VALUES('Mumbai','India','Spring','28.4','16.2');
INSERT INTO record VALUES('Mumbai','India','Summer','27.9','1549.4');
INSERT INTO record VALUES('Mumbai','India','Fall','27.6','346.0');
INSERT INTO record VALUES('London','United Kingdom','Winter','4.2','207.7');
INSERT INTO record VALUES('London','United Kingdom','Spring','8.3','169.6');
INSERT INTO record VALUES('London','United Kingdom','Summer','15.7','157.0');
INSERT INTO record VALUES('London','United Kingdom','Fall','10.4','218.5');
INSERT INTO record VALUES('Cairo','Egypt','Winter','13.6','16.5');
INSERT INTO record VALUES('Cairo','Egypt','Spring','20.7','6.5');
INSERT INTO record VALUES('Cairo','Egypt','Summer','27.7','0.1');
INSERT INTO record VALUES('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [47]:
%sql select * from record

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [48]:
# a) All the temperature data.
%sql select temperature from record

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [49]:
# b) All the cities, but without repetition.

%sql SELECT DISTINCT City FROM record;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [50]:
# c) All the records for India.

%sql SELECT * FROM record WHERE Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [51]:
# d) All the Fall records.

%sql SELECT * FROM record WHERE Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [52]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

%sql SELECT City, Country, Season FROM record WHERE Rainfall BETWEEN 200 And 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [53]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

%sql SELECT City, Country FROM record WHERE Season = 'Fall' AND Temperature >20 ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [54]:
# g) The total annual rainfall for Cairo.

%sql SELECT Sum(Rainfall) as Total_Rainfall FROM record WHERE City='Cairo';

 * sqlite://
Done.

[(27.6,)]

In [55]:
# h) The total rainfall for each season.
%sql SELECT Season, Round(Sum(Rainfall),2) as Total_Rainfall FROM record GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]


# -----------------------------------------------------------------------------------------

# Question 9

. Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [56]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("The upper case representation of the list of words :")
print([L.upper() for L in words],"\n")

print("The lower case representation of the list of words :")
print([L.lower() for L in words],"\n")

print("The length of each words in the list :")
print([len(L) for L in words],"\n")

print("The list containing a list for every word of list words, the same in uppercase and lowercase and the length of the word : ")
print([[L.upper(), L.lower(), len(L)] for L in words],"\n")

print("The list of words in list words containing 4 or more characters :")
print([L for L in words if len(L)>=4])

The upper case representation of the list of words :
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

The lower case representation of the list of words :
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

The length of each words in the list :
[3, 5, 5, 3, 5, 4, 3, 4, 3]

The list containing a list for every word of list words, the same in uppercase and lowercase and the length of the word :
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

The list of words in list words containing 4 or more characters :
['quick', 'brown', 'jumps', 'over', 'lazy']

# -----------------------------------------------------------------------------------------